In [14]:
import pydap.client
import numpy as np
import pandas as pd
import datetime
from pprint import pprint

In [6]:
temp_max = pydap.client.open_url('http://thredds.northwestknowledge.net:8080/thredds/dodsC/agg_met_tmmx_1979_CurrentYear_CONUS.nc')

In [7]:
temp_max.keys()

KeysView(<DatasetType with children 'lat', 'crs', 'lon', 'daily_maximum_temperature', 'day'>)

In [15]:
for key in temp_max.keys():
    print(key, type(temp_max[key]))
    print(temp_max[key].shape)
    pprint(temp_max[key].attributes)
    print("*" * 80)

lat <class 'pydap.model.BaseType'>
(585,)
{'_ChunkSizes': 585,
 'axis': 'Y',
 'description': 'latitude',
 'long_name': 'latitude',
 'standard_name': 'latitude',
 'units': 'degrees_north'}
********************************************************************************
crs <class 'pydap.model.BaseType'>
(1,)
{'GeoTransform': '-124.7666666333333 0.041666666666666 0  49.400000000000000 '
                 '-0.041666666666666',
 '_ChunkSizes': 1,
 '_FillValue': -1,
 '_Unsigned': 'true',
 'grid_mapping_name': 'latitude_longitude',
 'inverse_flattening': 298.257223563,
 'long_name': 'WGS 84',
 'longitude_of_prime_meridian': 0.0,
 'semi_major_axis': 6378137.0,
 'spatial_ref': 'GEOGCS[\\"WGS 84\\",DATUM[\\"WGS_1984\\",SPHEROID[\\"WGS '
                '84\\",6378137,298.257223563,AUTHORITY[\\"EPSG\\",\\"7030\\"]],AUTHORITY[\\"EPSG\\",\\"6326\\"]],PRIMEM[\\"Greenwich\\",0,AUTHORITY[\\"EPSG\\",\\"8901\\"]],UNIT[\\"degree\\",0.0174532925199433,AUTHORITY[\\"EPSG\\",\\"9122\\"]],AUTHORITY[\\"EPSG\\",\\"4326\\"]]'}
********************************************************************************
lon <class 'pydap.model.BaseType'>
(1386,)
{'_ChunkSizes': 1386,
 'axis': 'X',
 'description': 'longitude',
 'long_name': 'longitude',
 'standard_name': 'longitude',
 'units': 'degrees_east'}
********************************************************************************
daily_maximum_temperature <class 'pydap.model.GridType'>
(15019, 585, 1386)
{'_ChunkSizes': [61, 98, 231],
 '_FillValue': 32767,
 '_Unsigned': 'true',
 'add_offset': 220.0,
 'coordinate_system': 'WGS84,EPSG:4326',
 'coordinates': 'lat lon day',
 'description': 'Daily Maximum Temperature',
 'dimensions': 'lon lat time',
 'grid_mapping': 'crs',
 'long_name': 'tmmx',
 'missing_value': 32767,
 'scale_factor': 0.1,
 'standard_name': 'tmmx',
 'units': 'K'}
********************************************************************************
day <class 'pydap.model.BaseType'>
(15019,)
{'_ChunkSizes': 365,
 'calendar': 'gregorian',
 'description': 'days since 1900-01-01',
 'long_name': 'time',
 'standard_name': 'time',
 'units': 'days since 1900-01-01 00:00:00'}
********************************************************************************

In [30]:
lon = temp_max['lon'][:].data
lat = temp_max['lat'][:].data
SD_county_lats = np.asarray((lat<33.6) & (lat>32.4)).nonzero()[0]
SD_county_lons = np.asarray((lon<-116.0) & (lon>-118)).nonzero()[0]
SD_county_lats.shape, SD_county_lons.shape

((29,), (48,))

In [42]:
# Days are # of days since 1900, so convert to easier datetimes
days = temp_max['day'][:].data
base_date = pd.to_datetime("19000101", format="%Y%m%d")
days = pd.to_timedelta(days, unit='days') + base_date
# How many entries correspond to days since 2000?
days[:5], days.shape, np.sum(days > pd.to_datetime("20000101", format="%Y%m%d"))

(DatetimeIndex(['1979-01-01', '1979-01-02', '1979-01-03', '1979-01-04',
                '1979-01-05'],
               dtype='datetime64[ns]', freq=None),
 (15019,),
 7348)