# About this notebook

This notebook demonstrates downloading the integrated gridMet/geoMAC dataset for San Diego county generated in notebook `4. Integrate fire perimeters with gridMet data`.

In [1]:
import boto3
import pandas as pd
import geopandas as gpd

In [2]:
s3 = boto3.client("s3")
all_objects = s3.list_objects(Bucket='dse-cohort5-group5')
all_objects

{'ResponseMetadata': {'RequestId': 'BA48D956AB35AED6',
  'HostId': '7xju2N+XdbhNFNc/KE6e8PjleL7pAOQqDOQ0nSDspT1DWYsJnt5g0lPqGCKHKw4HSj5Gi+n64nE=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '7xju2N+XdbhNFNc/KE6e8PjleL7pAOQqDOQ0nSDspT1DWYsJnt5g0lPqGCKHKw4HSj5Gi+n64nE=',
   'x-amz-request-id': 'BA48D956AB35AED6',
   'date': 'Sun, 01 Mar 2020 23:03:02 GMT',
   'x-amz-bucket-region': 'us-west-1',
   'content-type': 'application/xml',
   'transfer-encoding': 'chunked',
   'server': 'AmazonS3'},
  'RetryAttempts': 1},
 'IsTruncated': False,
 'Marker': '',
 'Contents': [{'Key': 'test/',
   'LastModified': datetime.datetime(2020, 2, 14, 2, 26, 50, tzinfo=tzutc()),
   'ETag': '"d41d8cd98f00b204e9800998ecf8427e"',
   'Size': 0,
   'StorageClass': 'STANDARD',
   'Owner': {'DisplayName': 'kcoakley+cohort5group5',
    'ID': 'fe3a1755292b139ad5397ba537aa0aff32ef6ebba07fe45dcbe486d81e1ccc11'}},
  {'Key': 'wildfire_capstone/gridMet.parquet.gz',
   'LastModified': datetime.datetime(2020, 2, 23, 3, 0, 57, tzinfo=tzutc()),
   'ETag': '"f08ba11e474d90412483d31fea369f78-15"',
   'Size': 79074435,
   'StorageClass': 'STANDARD',
   'Owner': {'DisplayName': 'kcoakley+cohort5group5',
    'ID': 'fe3a1755292b139ad5397ba537aa0aff32ef6ebba07fe45dcbe486d81e1ccc11'}},
  {'Key': 'wildfire_capstone/integratedData.zip',
   'LastModified': datetime.datetime(2020, 3, 1, 22, 37, 6, tzinfo=tzutc()),
   'ETag': '"b6cd2382006cb12cea83d94647bc48c2"',
   'Size': 299008543,
   'StorageClass': 'STANDARD',
   'Owner': {'DisplayName': 'kcoakley+cohort5group5',
    'ID': 'fe3a1755292b139ad5397ba537aa0aff32ef6ebba07fe45dcbe486d81e1ccc11'}}],
 'Name': 'dse-cohort5-group5',
 'Prefix': '',
 'MaxKeys': 1000,
 'EncodingType': 'url'}

In [3]:
%%time
s3.download_file('dse-cohort5-group5', 'wildfire_capstone/integratedData.zip', 'integratedData.zip')

Wall time: 3min 52s

In [4]:
%%time
import zipfile
with zipfile.ZipFile("integratedData.zip", mode="r") as zf:
    zf.extractall()

Wall time: 14.4 s

In [2]:
df = gpd.read_file("integratedData.shp")
print(df.shape)
df.head()

(6501450, 19)

,date,precipitat,relative_h,specific_h,surface_do,wind_from_,wind_speed,max_air_te,min_air_te,burning_in,dead_fuel_,dead_fue_1,energy_rel,potential_,mean_vapor,fire_occur,acres_burn,fire_name,geometry
0,2000-01-01,0.0,40.5,0.00600,139.7,222.0,2.1,292.0,282.2,31.0,12.3,12.1,48.0,1.8,0.69,0,NaN,None,"POLYGON ((-117.97500 33.56667, -117.97500 33.6..."
1,2000-01-01,0.0,40.9,0.00593,136.6,222.0,2.1,291.9,282.2,32.0,12.2,12.0,48.0,1.8,0.70,0,NaN,None,"POLYGON ((-117.93333 33.56667, -117.93333 33.6..."
2,2000-01-01,0.0,41.2,0.00580,133.2,222.0,2.3,292.1,282.1,33.0,11.8,11.5,50.0,1.9,0.72,0,NaN,None,"POLYGON ((-117.89167 33.56667, -117.89167 33.6..."
3,2000-01-01,0.0,40.8,0.00577,129.8,218.0,2.4,292.0,281.4,34.0,11.8,11.4,50.0,1.9,0.69,0,NaN,None,"POLYGON ((-117.85000 33.56667, -117.85000 33.6..."
4,2000-01-01,0.0,38.2,0.00547,126.5,218.0,2.5,292.6,281.0,37.0,10.7,10.5,55.0,2.1,0.78,0,NaN,None,"POLYGON ((-117.80833 33.56667, -117.80833 33.6..."